.myCenter {
    display: flex;
    flex-direction: column; /*元素的排列方向为垂直*/
    justify-content: center; /*水平居中对齐*/
    align-items: center; /*垂直居中对齐*/
}

.my_bg {
    width: 100%;
    height: 100%;
    background: #324057;
    border-bottom: 1px solid #1f2d3d;
    border-radius: 2px;
    vertical-align: middle;
}